**/node_modules
**/dist
**/.vite
**/*.local
**/.env
**/tmp
**/.vscode

# Editor directories and files
**/.vscode/*
**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw? 